[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Keras = "*"
tensorflow = "*"
pandas = "*"
jupyterlab = "*"
ipykernel = "*"
kaggle = "*"
pylint = "*"
Pillow = "*"
scikit-learn = "*"
xgboost = "*"
numpy = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.8"
